
@{
    ViewBag.Title = "Matični podaci";
}


@if (User.IsInRole("admin") || User.IsInRole("supervisor"))
{
    <div class="row">
        <div class="col-xs-6">
            <a href="@Url.Action("Index", "Djelatnik")" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-user"></span> Djelatnici</a>
        </div>
        <div class="col-xs-6">
            <a href="@Url.Action("Index", "StatusDokumenta")" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-file"></span> Statusi</a>
        </div>
    </div>
} else
{
    <h2>Nemate prava za pregled</h2>

    <div class="row">
        <div class="col-xs-6">
            <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-backward"></span> Povratak</a>
        </div>
    </div>
}

